{% extends '@PatrickKenekayoroInvoice/layout.html.twig' %}

{% block pk_invoice_content %}
  <h1>{{ company_name }} Invoice</h1>
  <div>
        <h2 class="intro-y text-xl font-medium my-5">
                    New Invoice
                </h2>
        <!-- BEGIN: Form Layout -->
        <div >
            {{ include('@PatrickKenekayoroInvoice/invoice/_form.html.twig', {'button_label': 'new.invoice'}) }}
        </div>
        <!-- END: Form Layout -->


  </div> 
{% endblock %}